* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background: #000;
}

body {
  overflow-x: hidden;
  font-family: Microsoft YaHei;
}

ul,
li {
  list-style: none;
}

section, footer, header {
  min-width: 1300px;
}

.valid-content {
  width: 1300px;
  margin: 0 auto;
}

.section-title {
  width: 974px;
  height: 189px;
  background: url('../img/section-button-bg.svg') no-repeat 0 0;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.section-title img {
  /* width: 237px; */
  height: 61px;
}

/* 头部样式 */
header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #000;
}

header .valid-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 255px;
  height: 56px;
}

header .nav-wrap {
  display: flex;
  align-items: center;
}

header .nav-wrap .nav-item {
  padding: 0 35px;
  color: #B9DFFC;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
}

/* header .nav-wrap .nav-item .nav-link {
  display: inline-block;
  width: 100%;
  height: 100%;
} */

.switch-lang-btn {
  /* position: absolute;
  right: 74px;
  top: 32px; */
  width: 36px;
  height: 36px;
  cursor: pointer;
}

/* 首页部分样式 */
.home {
  height: 1078px;
  background: url('../img/home-bg.webp') no-repeat center center/cover;
  padding-top: 202px;
  position: relative;
}

.home .valid-content {
  /* position: relative; */
}

.home .up-ads {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.home .left-ad {
  /* margin: 0 40px; */
  text-align: center;
  width: 600px;
}

.home .left-ad .ad1 {
  width: 600px;
  height: 466px;
}

.home .left-ad .slash {
  width: 448px;
  height: 33px;
  margin: 25px auto;
}

.home .left-ad .text {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: Microsoft JhengHei UI;
  color: #C3D7F0;
}

.home .left-ad .diamond {
  width: 440px;
  height: 35px;
  margin-top: 16px;
}

.home .right-ad {
  width: 699px;
  height: 747px;
  position: relative;
}

.home .right-ad .bg {
  width: 100%;
  height: 100%;
}

.home .right-ad .ad2 {
  width: 500px;
  height: 526px;
  position: absolute;
  z-index: 10;
  left: 96px;
  top: 87px;
}

.home .right-ad .btn-bg {
  width: 393px;
  height: 101px;
  position: absolute;
  left: 148px;
  bottom: 29px;
  z-index: 10;
}

.home .right-ad .text-ad {
  width: 170px;
  height: 52px;
  position: absolute;
  left: 263px;
  bottom: 50px;
  z-index: 20;
}

.home .ad_text {
  width: 1660px;
  height: 84px;
  margin-left: -232px;
}

/* 项目特点 */
.project {
  height: 380px;
  background-color: #000;
  padding: 100px 0 90px 0;
}

.project .section-title .title {
  width: 237px;
  height: 61px;
}

/* 特征 */
.project-features {
  width: 100%;
  height: 808px;
  background: #000 url('../img/project-bg.webp') no-repeat 0 0;
  background-size: cover;
}

.project-features .valid-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 92px 0;
}

.project-features .feature-item {
  width: 600px;
  height: 350px;
}

.project-features .feature-item .title {
  width: 190px;
  height: 84px;
  background: url('../img/project-feature-subtitle-bg.png') no-repeat 0 0;
  color: #DFEDFF;
  font-size: 30px;
  text-align: right;
  font-weight: bold;
  padding: 10px 16px 0 0;
}

.project-features .feature-item .content {
  padding: 20px 0 0 101px;
  font-size: 22px;
  font-weight: 400;
  color: #C3D7F0;
  line-height: 30px;
}

/* 市场特征 */
.market {
  background: #000;
  padding: 100px 0 40px 0;
}

.market-features {
  /* width: 100%; */
  background: #000;
}

.market-features .item {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 50px;
}

.market-features .item::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 24px;
  width: 325px;
  height: 319px;
  background: url('../img/market-decorate1.webp') 0 0/cover;
}

.market-features .item:nth-child(2)::after {
  background: url('../img/market-decorate2.webp') 0 0/cover;
  width: 507px;
  height: 476px;
  left: -400px;
}

.market-features .item .introduce {
  flex: 1;
}

.market-features .item:nth-child(2n) {
  flex-flow: row-reverse;
}

.market-features .item .main-img {
  width: 492px;
  height: 670px;
}

.market-features .item:nth-child(2n + 1) .main-img {
  margin-right: 42px;
}

.market-features .item:nth-child(2n) .main-img {
  margin-left: 42px;
}

.market-features .item .introduce .item-title {
  font-size: 50px;
  font-weight: bold;
  color: #88EAFF;
}

.market-features .item .introduce .line {
  width: 60px;
  height: 4px;
  background: url('../img/market-line.svg') no-repeat 0 0/100%;
  margin: 26px 0 50px 0;
}

.market-features .item .introduce .item-content {
  font-size: 30px;
  font-weight: 400;
  color: #B9F3FF;
  line-height: 48px;
}

.market-features .item .decorate-img {
  width: 325px;
  height: 319px;
}

/* NFT */
.nft {
  background: #000 url('../img/nft-bg.webp') no-repeat 0 0/cover;
  padding: 48px 0 115px 0;
  position: relative;
}

.nft-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* padding-top: 100px; */
}

.nft-list.row2 {
  justify-content: space-evenly;
}

.nft-list .nft-item {
  position: relative;
  z-index: 10;
  margin-top: 108px;
}

.nft-list .nft-item .nft-img {
  width: 341px;
  height: 508px;
}

.nft-list .nft-item .info {
  position: absolute;
  left: 120px;
  top: 418px;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

.nft-list .nft-item .info .value {
  padding-left: 33px;
  font-weight: bold;
  color: #77EAFF;
}

.nft-list .nft-item .nft-img-text {
  display: block;
  width: 355px;
  height: 72px;
  margin: 10px 0 0 -7px;
}

.nft .valid-content {
  position: relative;
}

.nft-bg-line {
  position: absolute;
  left: 0;
  top: 577px;
  z-index: 1;
  width: 100%;
  height: 69px;
  object-fit: cover;
}

.nft-bg-line.line2 {
  top: 1290px;
  left: -40px;
}

.nft-remark {
  width: 100%;
  min-width: 1300px;
  height: 180px;
  object-fit: cover;
  margin-top: 60px;
}

/* 代币经济学 */
.new-cash {
  background-color: #000;
}

.new-cash .valid-content {
  width: 1518px;
  height: 946px;
  display: flex;
  align-items: center;
  background: #000 url('../img/cash-bg.webp') no-repeat 0 0/cover;
  padding: 124px 0 0 117px;
  margin-top: 100px;
}

#echarts {
  width: 647px;
  height: 695px;
  background: url('../img/cash-echart.webp') no-repeat 0 0/cover;
  position: relative;
}

#echarts .echarts-title-wrap {
  position: absolute;
  left: 250px;
  top: 327px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #C3D7F0;
}

#echarts .echarts-title {
  font-size: 37px;
  color: #FFFFFF;
}

.left-echarts .echarts-decorate {
  width: 690px;
  height: 102px;
}

.right-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.right-colors .color-item {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  padding-left: 54px;
  width: 250px;
  height: 60px;
  margin-bottom: 45px;
}

.right-colors .color-item .label {
  color: #C3D7F0;
}

.right-colors .color-item .value {
  display: inline-block;
  margin-top: 10px;
  color: #40E6FF;
}

.right-colors .color-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 28px;
  height: 28px;
  background-color: #468ED7;
}

.right-colors .color-item:nth-child(2):before {
  background-color: #CC913E;
}
.right-colors .color-item:nth-child(3):before {
  background-color: #AB4F2B;
}
.right-colors .color-item:nth-child(4):before {
  background-color: #44A660;
}
.right-colors .color-item:nth-child(5):before {
  background-color: #7E41A4;
}
.right-colors .color-item:nth-child(6):before {
  background-color: #6054FF;
}
.right-colors .color-item:nth-child(7):before {
  background-color: #488597;
}
.right-colors .color-item:nth-child(8):before {
  background-color: #3500E1;
}

/* 路线图 */
.time-line {
  background: #000 url('../img/timeline-bg.webp') 0 0/cover;
  padding-top: 100px;
}

.time-line .valid-content {}

.time-line-wrap {
  display: flex;
  flex-wrap: nowrap;
  padding: 100px 0 54px 0;
}

.time-line-wrap .left-title {
  align-self: center;
  display: flex;
  align-items: center;
  width: 835px;
}

.time-line-wrap .left-title .time-line-logo {
  width: 111px;
  height: 136px;
  margin-right: 26px;
}

.time-line-wrap .left-title h3 {
  font-size: 60px;
  font-weight: 400;
  color: #B594F8;
  line-height: 48px;
  text-shadow: 1px 4px 0px #110230;

  background: linear-gradient(0deg, rgba(98, 94, 233, 0.15) 0%, rgba(241, 228, 187, 0.15) 46.7529296875%, rgba(98, 94, 233, 0.15) 100%);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

.time-line-wrap .left-title h4 {
  margin-top: 35px;
  font-size: 36px;
  font-weight: 400;
  color: #B594F8;
  line-height: 48px;
  text-shadow: 1px 4px 0px #110230;

  background: linear-gradient(0deg, rgba(98, 94, 233, 0.15) 0%, rgba(241, 228, 187, 0.15) 46.7529296875%, rgba(98, 94, 233, 0.15) 100%);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}

.time-line-wrap .axis-bg {
  width: 19px;
  height: 1353px;
  background: url('../img/axis-bg.svg') no-repeat 0 0/cover;
}

.time-line-wrap .axis-bg .axis-progress {
  width: 100%;
  height: 10%;
  background: url('../img/axis.svg') no-repeat 0 0/100% 100%;
  margin-left: 1px;
}

.time-line-list {
  padding: 32px 0 0 35px;
  ;
}

.time-line-item {
  /* height: 333px; */
}

.time-line-item .time-line-name {
  width: 180px;
  height: 66px;
  background: url('../img/timeline-time.webp') no-repeat 0 0/cover;
  font-size: 30px;
  font-weight: 400;
  color: #C3D7F0;
  line-height: 66px;
  text-align: center;
  position: relative;
}

.time-line-item .time-line-name::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -62px;
  top: 12px;
  background: url('../img/timeline-circle.webp') no-repeat 0 0/cover;
}

.time-line-item .stage-msg {
  font-size: 20px;
  font-weight: 400;
  color: #A77EF8;
  margin-top: 15px;
}

.time-line-item .list {
  margin-top: 28px;
  padding-bottom: 30px;
}

.time-line-item .list .item {
  font-size: 20px;
  font-weight: 400;
  color: #C3D7F0;
  line-height: 40px;
  position: relative;
  padding-left: 37px;
}

.time-line-item .list .item::before {
  content: '';
  display: block;
  width: 19px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 17px;
  background: url('../img/arrow.png') no-repeat 0 0/cover;
}

/* 合作伙伴 */
.partner {
  background-color: #000;
  padding-top: 80px;
}

.partner .valid-content {
  /* width: 1518px; */
  padding: 100px 0 40px 0;
}

.partner-list {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
}

.partner-list .partner-item {
  /* width: 330px;
  height: 403px; */
  
  width: 300px;
  height: 295px;
  background: #143E4C;
  border: 1px solid #77B1C4;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px;
}

.partner-item img {
  /* width: 330px; */
  width: 300px;
  height: 295px;
  object-fit: cover;
}

.partner-item .partner-name {
  font-size: 40px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 109px;
  text-align: center;
}

/* team */
.team-title {
  padding: 0 0 100px 0;
  background-color: #000;
}

.team {
  background: url('../img/team-bg.webp') no-repeat 0 0/cover;
  position: relative;
  overflow: hidden;
}

.team-mask {
  width: 100%;
  height: 100%;
  padding: 87px 0 102px 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.team .valid-content {
  /* width: 1521px; */
}

.team .team-introduce {
  font-size: 22px;
  font-weight: 400;
  color: #B9E4FF;
  line-height: 43px;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 77px;
  /* padding: 77px 0 102px 0; */
}

.team-list .team-item {
  width: 300px;
  height: 300px;
  position: relative;
}

.team-list .team-item img {
  width: 300px;
  height: 300px;
}

.team-list .team-item:hover .introduce {
  display: block;
}
.team-list .team-item .introduce {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* margin: 20px 0; */
  /* border-left: 4px solid #2958de; */
  /* padding-left: 16px; */
  padding: 120px 0 0 0;
  text-align: center;
  line-height: 1.5;
  font-size: 24px;
  color: #fff;
}

/* footer */
footer {
  padding: 67px 0 70px 0;
  background-color: #000;
}

footer .link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .link-list .link-item {
  width: 80px;
  height: 80px;
  border-radius: 24px;
  background: #143E4C url('../img/link1.png') no-repeat center center/44px 44px;
  margin-right: 32px;
  cursor: pointer;
}

footer .link-list .link-item.airplane {
  background-image: url('../img/link1.png');
}

/* footer .link-list .link-item:nth-child(2) {
  background-image: url('../img/link2.png');
}

footer .link-list .link-item:nth-child(3) {
  background-image: url('../img/link3.png');
} */

footer .link-list .link-item.twitter {
  background-image: url('../img/link4.png');
}

.copy-right {
  padding-top: 53px;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}